bin
target
.settings
.project
.classpath
.log
.tlog
.svn
bower_components
logs
node_modules
docs

.idea
*.iml
*.tlog
.settings/
.metadata/
/Client/bower_components
/Server/node_modules
/Client/logs
/Client/zipfiles